body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  margin:30px auto;
  width:1200px;
  display: flex;
  justify-content: flex-start;
}
.edu-wrapper{
  background-color: #f7f7f7;
  border:1px solid grey;
  padding:20px;
  width: 50%;
  position: relative;
}
.edu-wrapper .item{
 display: flex;
 justify-content: space-between;
 border: 1px solid grey;
 background-color: white;
 border-radius: 5px;
 padding: 5px;
 margin-top: 5px;
}

.edu-wrapper .item .test{
  white-space: nowrap;
  width: 75%;
  overflow-x: hidden;
}

.edu-wrapper .item button{
    background-color:#f1f1f1;
    margin-left: 5px;
}

.edu-wrapper .item .done{
  text-decoration: line-through;
}

.arduino-wrapper{
  position: relative;
  background-color: #f1f1f1;
  border:1px solid grey;
  padding:20px;
  width: 50%;
}

.arduino_list {
  border: 1px solid grey;
  background-color: white;
  overflow-y: auto;
   height: 240px;
}

.arduino_list .arduino_item{
  margin-bottom: 1px;
  padding: 2px 5px;

}
.arduino_list .arduino_item span{
  font:400 12px Arial;
  margin-right: 10px;
}
